<div class="card {{ class|default('px-6 pb-6 tracking-wide') }} 
    {{ size }}
    {{ border|default('border-gray-300 border-2 rounded shadow-lg') }}
    {{ color|default('bg-white') }}">
    {% if title is not empty %}
    <div class="flex items-center card-header {{ header.class|default('mb-4') }}">   
        {% if header.icon is not empty %}
            {{  component(header.icon.name,{ 
                    size: header.icon.size|default('h-6 w-6'), 
                    width: header.icon.width|default(2), 
                    color: header.icon.color 
                },'svg') 
            }}
        {% endif %}
        <div class="{{ title.class|default('p-2') }}">{{ title.text }}</div>
    </div>
    {% endif %}
    <div class="card-content {{ content_class|default('p-1') }}">
        {{ content }}
    </div>
</div>