<div class="flex flex-col {{ class|default('items-start w-full') }}">          
    {% for item in items %}
    <div class="flex flex-row 
        {{ row.class|default('w-full') }}
        {{ row.border|default('border-0 border-b border-gray-300 border-solid') }}" >
        <div class="{{ row.title_class|default('p-2  font-bold text-right') }}">
            {{ item.title }}
        </div>
        <div class="{{ row.value_class|default('p-2 flex-grow') }}">                     
            {{ item.value }}                                 
        </div>
        {% if item.type is not empty %}
        <div class="{{ row.type_class|default('p-2') }}">                     
            {{ item.value }}                                 
        </div>
        {% endif %}
        {% if item.default is not empty %}
        <div class="{{ row.default_class|default('p-2') }}">                     
            {{ item.value }}                                 
        </div>
        {% endif %}
    </div>
    {% endfor %}       
</div>