<sidebar class="sidebar flex-auto flex-col justify-between items-center h-full
    {{ color|default('bg-gray-900') }} 
    {{ class|default('w-20 flex-shrink-0') }}">
    <div class="{{ content_class|default('p-2') }}">
       {{ content }}     
    </div>
    {% if logout is not empty %}
    <div class="{{ logout.class|default('mb-4') }}">
        <a  {{ logout.component|attr('component') }} 
            class="flex flex-col items-center {{ logout.item }}" 
            {{ logout.href|attr('href') }}>

            {% if logout.icon is not empty %}
            {{  component(logout.icon.name,{ 
                    size: logout.icon.size|default('h-6 w-6'), 
                    width: logout.icon.width|default(2), 
                    color: logout.icon.color 
                },'svg') 
            }}
            {% endif %}
            <div class="sm:block xs:hidden {{ logout.title.class }}">
                {{ logout.title.text }}
            </div>
        </a>
    </div>
    {% endif %}
</sidebar>