<div id="{{ id|default('dropdown-menu') }}" 
    class="dropdown-menu hidden z-50 origin-top-left 
        {{ position|default('absolute left-0 right-0') }}  
        {{ size|default('w-56') }} {{ class }}" 
    role="menu" 
    aria-orientation="vertical">        
    <div class="{{ content_class|default('py-1') }} {{ content_color|default('bg-white rounded-lg shadow-lg') }}" role="none">
        {% for menu in items %}
            <a 
                {{ menu.id|attr('id') }} 
                data-value="{{ menu.data }}" 
                class="flex flex-row items-center cursor-pointer {{ item.link }}" role="menuitem"
                href="{{ menu.link }}">                
                {% if menu.icon is not empty %}
                    {{ component(menu.icon.name,menu.icon,'svg') }}  
                {% endif %}
                <span class="{{ item.class }}">{{ menu.title }}</span>
            </a>
        {% endfor %}    
    </div>
</div>